body {
 
  font-family: 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    background: url(../assets/img/preview_back.jpg) no-repeat;
    background-position: center;;
    background-position: top;
    background-size: 80%
}
.c-tab_list {
  padding: 0;
  position: relative;
  list-style: none;
    display: inline-block;
}
.c-tab_input,
.c-tab_content {
  display: none;
}
.c-tab_content {
  padding-top: 2.5em;
}
.c-tab_input:checked ~ .c-tab_content {
  display: block;
}
.c-tab_label {
  display: inline-block;
  position: absolute;
  top: 0;
  width: 6em;
  
  box-sizing: border-box;
  text-align: center;
  border-width: 1px 0 1px 1px;
  border-style: solid;
  border-color: #007DF6;
  color: #007DF6;
  cursor: pointer;
  transition: 0.2s linear;
    font-weight: 500;
        height: 35px !important;
    line-height: 2.1 !important;
}
.c-tab_input:checked + .c-tab_label {
  color: #fff;
  background-color: #007DF6;
}
.c-tab_item:nth-child(1) > .c-tab_label {
  left: 1em;
}
.c-tab_item:nth-child(2) > .c-tab_label {
  left: 7em;
}
.c-tab_item:nth-child(3) > .c-tab_label {
  left: 12em;
}
.c-tab_item:nth-child(4) > .c-tab_label {
  left: 18em;
}
.c-tab_item:nth-child(5) > .c-tab_label {
  left: 24em;
}
.c-tab_item:first-child > .c-tab_label {
  border-radius: 0.7em 0 0 0.7em;
}
.c-tab_item:last-child > .c-tab_label {
  border-width: 1px;
  border-radius: 0 0.7em 0.7em 0;
}

.viv_body
        {
        position: relative;
        border: 2px solid #007DF6;
        width: 225px;
        margin: auto;
        padding: 0px 12px;
        border-radius: 28px;
        background: #fafafaCC;
        margin-top: 60px;
        }
    
